*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./image/4907157.jpg);
    
}
.title{
    text-align: center;
    font-size: 40px;
    color: #2F58CD;
    font-family: 'Tilt Warp', cursive;
}
.summary{
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}
#description{
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 10px;    
    width: 1200px;
}

@media screen and(max-width:768px){
    #description{
        grid-template-columns: repeat(2,1fr);
    }
}

.foto{    
    width: 150px;
    height: 150px;
    border: 10px solid white;
    border-radius: 100%;
}
.foto-container{
    display: flex;
    justify-content: center;
}
.card1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0  auto;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: 60px;
    gap: 20px;

}
.card2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;    
    font-family: 'Lato', sans-serif;
}
.detail-item{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
p{
    font-size: medium;
}
.linkedin{
    width: 20px;
    height: auto;
}
.header-container{
    height: 200px;
    margin-top: 50px;
}

